body {margin: 0 auto; text-align: center; background-image:url("blackglitter.jpg") ;}

h1 {
  color: white;
  font-family: satisfy;
  text-align: center;
font-size: 80px;
background-color: black;

}
h2{
  color: White;
font-family: satisfy;
  font-size:40px
}
p {
  color:white;
  font-family: damion;
  font-size: 30px;
}
a {color:white;
font-family:satisfy ;
font-size: 30px;}
